{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}
{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{# ... add floatingBuyboxId to make form-id unique #}
{% block buy_widget_buy_form_inner %}
    {% if teuStickyElementConfig.stickyCartActive and page.product.translated.customFields.deactivateStickyCart is not same as (true) %}
        <form
            id="productDetailPageBuyProductForm{{ stickyBuyboxId }}"
            action="{{ formAction }}"
            method="post"
            class="buy-widget"
            data-add-to-cart="true">
            {% set DOWNLOAD_STATE = constant('Shopware\\Core\\Content\\Product\\State::IS_DOWNLOAD') %}
            {% set showQuantitySelect = not product.states is defined or DOWNLOAD_STATE not in product.states or (DOWNLOAD_STATE in product.states and product.maxPurchase !== 1) %}
            {% set buyable = product.available and product.childCount <= 0 and product.calculatedMaxPurchase > 0 %}

            {{ block('buy_widget_buy_container') }}
        </form>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
