{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}
{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% block buy_widget_buy_form %}
    {{ parent() }}
    {% if teuStickyElementConfig.stickyCartActive and page.product.translated.customFields.deactivateStickyCart is not same as (true) %}
        {% sw_include '@Storefront/storefront/component/buy-widget/sticky-cart/sticky-cart-buybox.html.twig' with {
            path: 'component/buy-widget/',
            cms: true
        }  %}
    {% endif %}
{% endblock %}
