@import 'elements/sticky-header';
@import "elements/sticky-cart";
/*.header-main {
    transition: background-color 0.5s ease;
    background-color: transparent;
    .header-logo-main .icon-logo > svg path.text {
        transition: fill 0.5s ease;
    }
    icon {
        transition: color 0.5s ease;
    }
    .header-logo-main .icon-logo > svg {
        max-height: 100px;
        transition: max-height 0.5s ease;
    }

    &.scroll-to-fixed-fixed {
        transition: all .5s ease-in-out;
        background-color: #fff;
        border-bottom: 1px solid $sw-text-color;
        > .container {
            border-bottom: none!important;

        }
        .header-logo-main .icon-logo > svg path.text {
            fill: $sw-text-color;
        }
        .header-logo-main .icon-logo > svg {
            max-height: 0px;
            @include media-breakpoint-up(md) {
                max-height: 40px;
            }
        }
        .header-logo-col {
            margin: 0;
            @include media-breakpoint-up(md) {
                padding-bottom: 0;
            }
        }
        .icon {
            color:$sw-text-color;
        }
        &.hide {
            -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
        }
    }
}*/

/*.top-bar.d-none {
    display: block!important;
    visibility: hidden;
    max-height: 5px;
    @include media-breakpoint-up(md) {
        visibility: visible;
        max-height: 100px;
    }
}*/



.teu_sticky_sidebar {
    bottom: 2.5rem;
    cursor: pointer;
    position: fixed;
    left: $spacer-lg;
    transition: 0.45s cubic-bezier(0.3, 0, 0.15, 1);
    z-index: $scroll-up-zindex;
    @include media-breakpoint-up(sm) {
        background: transparent;
        bottom: auto;
        bottom: 5rem;
        width: auto;
        left: auto;
        right: $spacer-lg;
        flex-direction: column;
        height: auto;
    }
    .icon > svg {
        top:0;
        color: #fff;
    }
    .sticky_item {
        width: 100%;
        text-align: center;
        a {
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            width: 45px;
            height: 40px;
            background-color: $sw-color-brand-primary;
            &.contact {
                font-size: 25px;
            }
        }
        @include media-breakpoint-up(sm) {
            width: 45px;
            height: 40px;
            display: block;
            background: $sw-color-brand-primary;
            //background: linear-gradient(135deg, @brand-secondary 15%, @brand-primary);
            margin-bottom: 10px;
        }
    }
}

.scroll-up-button {
    button {
        border-radius: 0;
    }
}

