{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% block base_body_inner %}
{{ parent() }}
{% block base_body_inner_sticky_sidebar %}
    {% if teuStickyElementConfig.stickySidebarActive %}
        <div class="teu_sticky_sidebar">
            {% block base_body_inner_sticky_sidebar_item %}
                <div class="sticky_item">
                    {% block base_body_inner_sticky_sidebar_item_contact %}
                        <a class="contact" data-ajax-modal="true"
                            data-url="{{path('frontend.cms.page',{ id: config('core.basicInformation.contactPage') })}}"
                            href="{{path('frontend.cms.page',{ id: config('core.basicInformation.contactPage') })}}" alt="{{ 'contact.headline'|trans|sw_sanitize }}"
                            title="{{ 'contact.headline'|trans|sw_sanitize }}">
                            {% sw_icon 'avatar' style {'size': 'xs'} %}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% endblock %}

{% set stickyHeaderOptions = {
    hideOnScrollDown: teuStickyElementConfig.stickyHeaderHideOnDown
} %}


{% block base_header %}
    <header class="header-main"
            {% if teuStickyElementConfig.stickyHeaderActive %}
                data-header-fix-to="true"
                data-header-fix-to-plugin-options="{{ stickyHeaderOptions|json_encode }}"
            {% endif %}>
        {% block base_header_inner %}
           {{ parent() }}
        {% endblock %}
    </header>
{% endblock %}