{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_javascript_jquery %}
    <script src="{{ asset('bundles/teustickyelements/assets/js/jquery-3.5.1.slim.min.js', 'asset') }}"></script>
{% endblock %}

{% block layout_head_javascript_hmr_mode %}
    {{ parent() }}
    <script src="{{ asset('bundles/teustickyelements/assets/js/fixto.min.js', 'asset') }}"></script>
{% endblock %}