{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% block page_product_detail_buy_form %}
    {{ parent() }}
    {% if teuStickyElementConfig.stickyCartActive and page.product.translated.customFields.deactivateStickyCart is not same as (true) %}
        {% sw_include '@Storefront/storefront/component/buy-widget/sticky-cart/sticky-cart-buybox.html.twig' with {
            path: 'page/product-detail/',
            cms: false
        } %}
    {% endif %}
{% endblock %}

