{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
{% set teuStickyElementConfig = config('TeuStickyElements.config') %}


        {% block page_product_detail_configurator_group %}
            <div class="product-detail-configurator-group">
                {% if group.displayType == 'select' and not teuStickyElementConfig.stickyCartForceText %}
                    {% sw_include '@Storefront/storefront/page/product-detail/configurator/select.html.twig' %}
                {% else %}
                    {% block page_product_detail_configurator_group_title %}
                       {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_configurator_options %}
                        <div class="product-detail-configurator-options">
                            {% for option in group.options %}

                                {% set optionIdentifier = [group.id, option.id]|join('-') %}
                                {% set isActive = false %}
                                {% set isCombinableCls = 'is-combinable' %}

                                {% if option.id in page.product.optionIds %}
                                    {% set isActive = true %}
                                {% endif %}

                                {% if not option.combinable %}
                                    {% set isCombinableCls = false %}
                                {% endif %}

                                {% if option.configuratorSetting.media %}
                                    {% set displayType = 'media' %}
                                    {% set media = option.configuratorSetting.media %}
                                {% else %}
                                    {% set displayType = group.displayType %}
                                    {% if option.media %}
                                        {% set media = option.media %}
                                    {% else %}
                                        {% set media = false %}
                                    {% endif %}
                                {% endif %}

                                {% if displayType == 'select' %}
                                    {% set displayType ='text' %}
                                {% endif %}

                                {% block page_product_detail_configurator_option %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}
