{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% if teuStickyElementConfig.stickyGalleryActive and teuStickyElementConfig.stickyHeaderActive and not teuStickyElementConfig.stickyHeaderHideOnDown %}
    {% if stickyGalleryOptions %}
        {% set stickyGalleryOptions = stickyGalleryOptions|replace_recursive({
            mind: '[data-header-fix-to]'
        }) %}
    {% else %}
        {% set stickyGalleryOptions = {
            mind: '[data-header-fix-to]'
        } %}
    {% endif %}
{% endif %}

{% block element_image_gallery %}
    {% if teuStickyElementConfig.stickyGalleryActive %}
        <div data-gallery-fix-to="true" data-gallery-fix-to-plugin-options="{{ stickyGalleryOptions|json_encode }}">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}