.sticky-cart-buybox {
  position: fixed;
  z-index: $offcanvas-zindex + 1;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-left: auto;
  margin-right: auto;

  // hidden
  &.js-hidden {
    visibility: hidden;
    bottom: -110px;
  }

  &-inner {
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 10px 1rem rgba(0, 0 ,0 , .18);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
      border-radius: 0;
      background: #fff;
      opacity: 80%
    }

    & > .container,
    & > .container-fluid,
    .sticky-cart-buybox-inner-row {
      --bs-gutter-x: 20px;
      --bs-gutter-y: 10px;
    }
  }

  .product-detail {
    // configurator toggle
    &-configurator-groups-toggle-container {
      display: flex;
      overflow: hidden; // important for js calculations
      flex: 1 1 10%; // must grow faster than the buy form

      @include media-breakpoint-up(sm) {
        flex: 1 1 15%; // must grow faster than the buy form
      }

      @include media-breakpoint-up(md) {
        flex: 3 1 25%; // must grow faster than the buy form
      }
    }

    &-configurator-groups-toggle {
      display: flex;
      flex: 0 0 auto;
      margin-right: $spacer-sm;
      border: 1px solid $border-color;
      min-height: 40px;

      &-label {
        margin-left: $spacer-sm;
        display: flex;
        align-self: center;
        height: 34px;

        /*@include media-breakpoint-up(sm) {
          display: flex;
        }*/

        .product-detail-configurator-option-color {
          height: 34px;
          width: 34px;
        }

        .product-detail-configurator-option-media {
          display: inline-flex;
          justify-content: center;
          height: 34px;
          min-width: 34px;
        }

        &.js-hidden {
          display: none;
        }
      }

      .icon-configurator-groups-toggle {
        transition: $transition-base;
        vertical-align: middle;
        color: inherit;

        > svg {
          top: initial;
        }
      }
      &:not(.collapsed) {
        border: 1px solid $primary;
        .icon-configurator-groups-toggle {
          transform: rotate(180deg);
        }
      }

      &.js-hidden {
        display: none;
      }

      &.is-display-color,
      &.is-display-media {
        padding-right: 2px;
      }
    }

    // price
    &-price-container {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      .list-price-badge {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    &-price {
      position: relative;
      font-size: $h6-font-size;

      @include media-breakpoint-up(md) {
        font-size: $h4-font-size;
      }

      &.with-list-price,
      &.with-advanced-list-price {
        margin-right: 0;
      }
    }

    &-list-price-wrapper {
      display: none;
    }

    // name
    &-name-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: initial;
      flex: 2 1 25%;

      @include media-breakpoint-up(md) {
        flex: 1 1 25%; // must grow faster than the buy form
        max-width: 400px;
      }
      /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
      &.has-purchase-unit {
        .product-detail-name {
          -webkit-line-clamp: 1;
          line-clamp: 1;
        }
      }
      /* stylelint-enable value-no-vendor-prefix, property-no-vendor-prefix */
    }

    /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
    &-name {
      margin-bottom: 0;
      font-size: $h6-font-size;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-price-unit {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /* stylelint-enable value-no-vendor-prefix, property-no-vendor-prefix */

    // form
    &-form-container {
      flex-grow: 1;
      margin-bottom: 0;
    }

    // configurator content
    &-configurator-group-title {
      display: block;
    }

    &-configurator-select-input {
      max-width: 360px;
    }

    &-configurator-option-input {
      &[checked="checked"] + .product-detail-configurator-option-label {
        border: 1px solid $primary;

        &.is-display-text {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  .btn-buy {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  }
}
