.header-main[data-header-fix-to] {
  transition: background-color 0.5s ease;
  .header-logo-main .icon-logo > svg path.text {
    transition: fill 0.5s ease;
  }
  icon {
    transition: color 0.5s ease;
  }
  .header-logo-main .icon-logo > svg {
    transition: max-height 0.5s ease;
  }

  &.scroll-to-fixed-fixed,
  &.fixto-fixed {
    transition: all .5s ease-in-out;
    background-color: $sw-background-color;
    border-bottom: 1px solid $sw-border-color;
    > .container {
      border-bottom: none!important;
    }
    &.hide {
      -webkit-transform: translateY(-110%);
      transform: translateY(-110%);
    }
  }
}