{% block teu_sticky_cart_buybox %}
    {% set teuStickyElementConfig = config('TeuStickyElements.config') %}

    {% set groupsToggleContainerClasses =        'col-auto' %}
    {% set priceContainerClasses =               'col-auto' %}
    {% set descriptionContainerClasses =         'col' %}
    {% set formContainerClasses =                'col-12 col-md-auto' %}

    {% if teuStickyElementConfig.stickyCartShowPrice and teuStickyElementConfig.stickyCartShowConfigurator %}
        {% set groupsToggleContainerClasses =        'col col-sm' %}
        {% set priceContainerClasses =               'col col-sm-auto' %}
        {% set descriptionContainerClasses =         'col-6 col-sm-auto' %}
        {% set formContainerClasses =                'col-12 col-md-auto' %}
    {% endif %}

            {% if not (page.product.parentId and page.configuratorSettings|length > 0) or page.product.parentId and page.configuratorSettings|length > 0 and teuStickyElementConfig.stickyCartShowOnVariants %}
                {% set allowedViewports = teuStickyElementConfig.stickyCartStatemanager %}
                {% if 'XL' in allowedViewports %}
                    {% set allowedViewports =              ['XXL','NONE']|merge(allowedViewports) %}
                {% endif %}

                {# ... js config #}
                {% set stickyCartBuxboxOptions = {
                    viewports: allowedViewports ? allowedViewports : ['XS', 'SM', 'MD', 'LG', 'XL', 'XXL','NONE'],
                    offsetTop: teuStickyElementConfig.stickyCartOffsetTop,
                    offsetBottom: teuStickyElementConfig.stickyCartOffsetBottom,
                    debug: teuStickyElementConfig.stickyCartDebug
                } %}

                {# ... prices #}
                {% set price = page.product.calculatedPrice %}
                {% if page.product.calculatedPrices|length == 1 %}
                    {% set price = page.product.calculatedPrices.first %}
                {% endif %}

                {% block teu_sticky_cart_buybox_container %}
                    <div class="sticky-cart-buybox js-hidden" data-sticky-cart="true" data-sticky-cart-options="{{ stickyCartBuxboxOptions|json_encode }}">

                        {% block teu_sticky_cart_buybox_inner %}
                            <div class="sticky-cart-buybox-inner" data-sticky-cart-buybox-collapse="true">
                                <div class="container">

                                    {% block teu_sticky_cart_buybox_configurator %}
                                        {% if page.product.parentId and page.configuratorSettings|length > 0 and teuStickyElementConfig.stickyCartShowConfigurator and page.product.translated.customFields.deactivateStickyCartConf is not same as (true) %}
                                            {% sw_include '@Storefront/storefront/component/buy-widget/sticky-cart/sticky-cart-buybox-configurator.html.twig' %}
                                        {% endif %}
                                    {% endblock %}


                                    <div class="sticky-cart-buybox-inner-row row justify-content-center">
                                        {% if page.product.parentId and page.configuratorSettings|length > 0 and teuStickyElementConfig.stickyCartShowConfigurator and page.product.translated.customFields.deactivateStickyCartConf is not same as (true) %}
                                            <div class="product-detail-configurator-groups-toggle-container sticky-cart-buybox-inner-container {{ groupsToggleContainerClasses }}" data-sticky-cart-buybox-toggler="true">
                                                {% sw_include '@Storefront/views/storefront/component/buy-widget/sticky-cart/sticky-cart-buybox-configurator-groups-toggle.html.twig' %}
                                            </div>
                                        {% endif %}

                                        {% block teu_sticky_cart_buybox_price %}
                                            {% if teuStickyElementConfig.stickyCartShowPrice %}
                                                {% if page.product.calculatedPrices|length <= 1 %}
                                                    <div class="product-detail-price-container sticky-cart-buybox-inner-container {{ priceContainerClasses }}">
                                                        {% if cms %}
                                                            {{ block('buy_widget_price_content', '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig') }}
                                                        {% else %}
                                                            {{ block('page_product_detail_price_content', '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig') }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endblock %}

                                        {% block teu_sticky_cart_buybox_description %}
                                            {% if teuStickyElementConfig.stickyCartShowTitle or teuStickyElementConfig.stickyCartShowPurchaseunit %}
                                                <div class="product-detail-name-container sticky-cart-buybox-inner-container{% if teuStickyElementConfig.stickyCartShowPurchaseunit %} has-purchase-unit{% endif %} {{ descriptionContainerClasses }}">
                                                    {% block teu_sticky_cart_buybox_name %}
                                                        {% if teuStickyElementConfig.stickyCartShowTitle %}
                                                            <h6 class="product-detail-name"
                                                                itemprop="name">
                                                                {{ page.product.translated.name }}
                                                            </h6>
                                                        {% endif %}
                                                    {% endblock %}

                                                    {% block teu_sticky_cart_buybox_purchaseUnit %}
                                                        {% if teuStickyElementConfig.stickyCartShowPurchaseunit %}
                                                            {% if page.product.purchaseUnit %}
                                                                {% if cms %}
                                                                    {{ block('buy_widget_price_unit', '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig') }}
                                                                {% else %}
                                                                    {{ block('page_product_detail_price_unit', '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig') }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endblock %}
                                                </div>
                                            {% endif %}
                                        {% endblock %}

                                        {% block teu_sticky_cart_buybox_form %}
                                            <div class="product-detail-form-container sticky-cart-buybox-inner-container {{ formContainerClasses }}">
                                                {% sw_include '@Storefront/storefront/' ~ path ~ 'buy-widget-form.html.twig' with {
                                                    stickyBuyboxId: 'Floating'
                                                } %}
                                            </div>
                                        {% endblock %}

                                    </div>
                                </div>
                            </div>
                        {% endblock %}

                    </div>
                {% endblock %}
            {% endif %}
{% endblock %}
