{% block teu_sticky_cart_buybox_configurator %}
{% set config = {
    url: url('frontend.detail.switch', { productId: page.product.parentId })
} %}

    {% block teu_sticky_cart_buybox_configurator_groups %}
        <div class="product-detail-configurator-container">
            {% block teu_sticky_cart_buybox_configurator_groups_mobile %}
            <form data-variant-switch="true" data-variant-switch-options="{{ config|json_encode }}">
                {% set elementId = 'stickyCartMobile' %}
                <div id="sticky-cart-buybox-configurator-grouped" class="product-detail-configurator-group-container collapse" data-bs-parent="#sticky-cart-collapse-container">
                    {% if cms %}
                        {{ block('buy_widget_configurator_groups', '@TeuStickyElements/storefront/component/buy-widget/sticky-cart/sticky-cart-configurator.html.twig') }}
                    {% else %}
                        {{ block('page_product_detail_configurator_groups', '@TeuStickyElements/storefront/page/product-detail/sticky-cart-configurator.html.twig') }}
                    {% endif %}
                </div>
            </form>
            {% endblock %}
            {% block page_product_detail_configurator %}
            <form data-variant-switch="true" data-variant-switch-options="{{ config|json_encode }}">
                <div class="product-detail-configurator" id="sticky-cart-collapse-container">

                    {% block page_product_detail_configurator_form %}
                            {% block page_product_detail_configurator_groups %}
                                {% set elementId = 'stickyCart' %}
                                {% for group in page.configuratorSettings %}
                                    <div id="{{ group.translated.name }}-{{ group.id }}" class="product-detail-configurator-group-container collapse" data-bs-parent="#sticky-cart-collapse-container">
                                        {% if cms %}
                                            {{ block('buy_widget_configurator_group', '@TeuStickyElements/storefront/component/buy-widget/sticky-cart/sticky-cart-configurator.html.twig') }}
                                        {% else %}
                                            {{ block('page_product_detail_configurator_group', '@TeuStickyElements/storefront/page/product-detail/sticky-cart-configurator.html.twig') }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endblock %}
                    {% endblock %}
                </div>
            </form>
            {% endblock %}
        </div>
    {% endblock %}
</form>
{% endblock %}
