{% sw_extends '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}
{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% block buy_widget_configurator_group %}

    <div class="product-detail-configurator-group">
        {% if group.displayType == 'select' and not teuStickyElementConfig.stickyCartForceText %}
            {% sw_include '@Storefront/storefront/page/product-detail/configurator/select.html.twig' %}
        {% else %}
            {% block buy_widget_configurator_group_title %}
                {{ parent() }}
            {% endblock %}

            {% block buy_widget_configurator_options %}
                <div class="product-detail-configurator-options">
                    {% for option in group.options %}
                        {% if elementId is defined and elementId is not null %}
                            {% set optionIdentifier = [group.id, option.id, elementId]|join('-') %}
                        {% else %}
                            {% set optionIdentifier = [group.id, option.id]|join('-') %}
                        {% endif %}

                        {% set isActive = false %}
                        {% set isCombinableCls = 'is-combinable' %}

                        {% if option.id in product.optionIds %}
                            {% set isActive = true %}
                        {% endif %}

                        {% if not option.combinable %}
                            {% set isCombinableCls = false %}
                        {% endif %}

                        {% if option.configuratorSetting.media %}
                            {% set displayType = 'media' %}
                            {% set media = option.configuratorSetting.media %}
                        {% else %}
                            {% set displayType = group.displayType %}
                            {% if option.media %}
                                {% set media = option.media %}
                            {% else %}
                                {% set media = false %}
                            {% endif %}
                        {% endif %}

                        {% if displayType == 'select' %}
                            {% set displayType ='text' %}
                        {% endif %}

                        {% block buy_widget_configurator_option %}
                            {{ parent() }}
                        {% endblock %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

