{% sw_extends '@Storefront/storefront/page/product-detail/configurator/select.html.twig' %}

{% block page_product_detail_configurator_select %}
    {% if elementId is defined and elementId is not null %}
        {% set optionIdentifier = [group.id, elementId]|join('-') %}
    {% else %}
        {% set optionIdentifier = group.id %}
    {% endif %}
    <select name="{{ group.id }}" id="{{ optionIdentifier }}" class="form-select product-detail-configurator-select-input">
        {% for option in group.options %}

            {% set selected = false %}
            {% set optionName = option.translated.name %}

            {% if option.id in page.product.optionIds %}
                {% set selected = true %}
            {% endif %}

            {% if not option.combinable %}
                {% set optionName =  optionName ~ ' (' ~ ('detail.unavailable'|trans|sw_sanitize) ~ ')' %}
            {% endif %}

            {% block page_product_detail_configurator_select_option %}
                {{ parent() }}
            {% endblock %}
        {% endfor %}
    </select>
{% endblock %}
