{% sw_extends '@Storefront/storefront/block/cms-block-gallery-buybox.html.twig' %}

{% set teuStickyElementConfig = config('TeuStickyElements.config') %}

{% block block_gallery_buybox %}
    {% if teuStickyElementConfig.stickyGalleryActive %}
        {% set stickyGalleryOptions = {
            stickyGalleryFixToElementSelector: '.cms-block-gallery-buybox'
        } %}
    {% endif %}
    {{ parent() }}
{% endblock %}
